@import "../less/deep-ui.less";
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    //    background: url(/res/deep_ui/bg.png) center top no-repeat;
    background-color: rgb(31, 25, 22);
    background-size: cover;
    font-family: Arial, Verdana, "微软雅黑", "黑体", serif;
    -webkit-font-smoothing: subpixel-antialiased;
    font-smoothing: subpixel-antialiased;
    height: 100%;
    color: wheat;
}

html, body{
  height: 100%;
 
}

span.active {
  background-color: gray;
}