<main class="deep-panel">
    <message *ngFor="let message of room.messages" [message]="message">                
    </message>
</main>
<header>
    <span class="name">{{room.name}}</span>
</header>
<footer>
    <img src="{{imgPath}}/deep_ui/little_box1.png" class="bg-img left">
    <img src="{{imgPath}}/deep_ui/little_box2.png" class="bg-img right">
    <div class="bg-img middle">
        <img src="{{imgPath}}/deep_ui/little_box3.png" class="bg-img">
    </div>
    <div class="tools-wrap">
        <i class="glyphicon glyphicon-heart-empty" data-tool="emotion"></i>
        <i class="glyphicon glyphicon-picture" data-tool="img"></i>
    </div>
    
    <div class="input-wrap" contenteditable="" [(contenteditableModel)]="input">
    </div>
    <div class="send-wrap clickable"   (click)="send()">
       <div class="mask clickable"></div>
        <i class="glyphicon glyphicon-send" data-tool="img"></i>
    </div>
</footer>