position: relative;
overflow:auto;
display:block;
.avatar {
    float: left;
    position: relative;
    img {
        display: block;
    }
}

.message {
    margin-left: 60px;
    margin-bottom: 15px;
    .title {}
    .content-wrap {
        .content {
            p {
                margin: 10px 0;
            }
        }
    }
}
